<template>
  <div class="small-card-recommand">
    <div class="img-box">
      <img src="~/static/images/recommand/user.png" alt="" class="user_img" />
      <img src="~/static/images/recommand/tik.png" alt="" class="tik_img" />
      <img
        src="~/static/images/recommand/smalluser.png"
        alt=""
        class="smalluser_img"
      />
    </div>
    <div class="content">
      <p class="name">Tom Johns</p>
      <p class="sepiclaity">Nutritionst</p>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';

.small-card-recommand {
  width: 100%;
  background: $white;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.1);
  }
  .img-box {
    position: relative;
    width: 80px;
    height: 80px;
    .user_img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .tik_img {
      position: absolute;
      right: 0;
      bottom: -10px;
      z-index: 10;
    }
    .smalluser_img {
      position: absolute;
      left: 0;
      bottom: -20px;
      z-index: 10;
    }
  }
  .content {
    padding-left: 1rem;
    .name {
      font-size: 24px;
      color: $bg-color-dark;
      font-weight: 600;
    }
    .sepiclaity {
      font-size: 18px;
      color: #092542;
    }
  }
}
</style>
