<template>
  <div class="searcher">
    <div class="header">
      <p class="heading">Mentorcasts</p>
    </div>
    <div class="search-wrapper">
      <input
        v-model="search"
        type="text"
        name="search"
        placeholder="Looking for"
      />
      <img
        src="~/static/images/navbar/search-icon.svg"
        alt="search"
        class="search__icon"
        @click="contentSercher"
      />
    </div>
    <div class="content">
      <ul>
        <li>
          <span class="era">Expertise</span>
          <a class="filter" @click="filter">
            <span class="filter-txt">Nutrition</span>
            <img
              src="~/static/images/searcher/pencil.svg"
              alt=""
              class="pencil-icon"
          /></a>
        </li>
        <li>
          <span class="era">Language</span>
          <a class="filter" @click="filter">
            <span class="filter-txt">English</span>
            <img
              src="~/static/images/searcher/pencil.svg"
              alt=""
              class="pencil-icon"
          /></a>
        </li>
        <li>
          <span class="era">Price</span>
          <a class="filter" @click="filter">
            <span class="filter-txt">10-30 USD</span>
            <img
              src="~/static/images/searcher/pencil.svg"
              alt=""
              class="pencil-icon"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
    }
  },
  methods: {
    filter() {},
    contentSercher() {},
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.searcher {
  width: 100%;

  background: $bg-color-light;
  border-radius: 10px;
  padding: 1rem;

  .header {
    width: 100%;

    .heading {
      font-size: 22px;
      color: $bg-color-dark;
      font-weight: 600;
    }
  }

  .content,
  ul,
  li {
    width: 100%;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    .era {
      font-size: 18px;
      color: $bg-color-dark;
      font-weight: 600;
    }
    .filter {
      background: $white;
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      color: $text-color-light;
      text-align: center;
      border: 1px solid $out-line;
      border-radius: 25px;
      font-size: 16px;
      font-weight: 600;

      .pencil-icon {
        padding-left: 10px;
      }
    }
  }

  .search-wrapper {
    position: relative;
    background: $white;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    height: 60px;
    margin-right: 10rem;
    transition: 0.4s ease-in-out;
    input[type='text'] {
      outline: none;
      border: none;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      font-size: 16px;
      background: $white;
      padding: 0 1rem;
    }

    .search__icon {
      background: $white;
      position: absolute;
      right: 18px;
      top: 7px;
      padding: 8px;
      border: 1px solid $out-line;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      z-index: 10;
      &:hover {
        border: 1px solid $text-color-light;
      }
    }
  }
}
</style>
