<template>
  <div class="header-jobs">
    <div class="content">
      <p class="title">Currently Available</p>
      <ul>
        <li><a class="text-dark" @click="filter">All</a></li>
        <li><a class="text-dark" @click="filter">Upcoming</a></li>
        <li><a class="text-dark" @click="filter">Trending</a></li>
        <li><a class="text-dark" @click="filter">Attended</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    filter() {},
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.header-jobs {
  width: 100%;
  margin: 0 0 1rem 0;
  .content {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      font-size: 22px;
      font-weight: 500;
    }
    ul {
      display: flex;
      li {
        margin: 0 5px;
        a {
          cursor: pointer;
          font-weight: 500;
        }

        &:nth-child(1) {
          margin-left: 5px;
        }
      }
    }
  }
}
</style>
