<template>
  <div class="jobs-wrapper">
    <Header />
    <Job />
    <Job />
    <Job />
    <Job />
    <Pagination />
  </div>
</template>

<script>
import Job from './job'
import Pagination from './pagination'
import Header from './header'
export default {
  components: {
    Job,
    Pagination,
    Header,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.jobs-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: $white;
}
</style>
