<template>
  <div class="mentor-job">
    <div class="mentor-card">
      <b-row>
        <b-col xs="12" md="12" lg="12" xl="2" class="text-center">
          <div class="imgbox">
            <img
              src="~/static/images/jobs/user-img.png"
              alt="user-img"
              class="user-img"
            />
            <p class="name">Tom Johns</p>
          </div>
        </b-col>
        <b-col xs="12" md="12" lg="12" xl="8">
          <div class="content">
            <p class="title">How to manage your diabetes with a vegan Diet</p>
            <p class="sub-title">
              Join me today in a special mentorcast, where we will be exploring
              the possibility of diabeates management through a specialized
              vegan diet.
            </p>
          </div>

          <b-row>
            <b-col xs="12" md="12" lg="12" xl="4">
              <div class="tag">
                <img
                  src="~/static/images/jobs/calender-icon.svg"
                  alt="calender"
                  class="calender"
                />
                <span class="text-dark">Start in :</span>
                <span class="text-primary">10 min</span>
              </div>
            </b-col>
            <b-col xs="12" md="12" lg="12" xl="4">
              <div class="tag">
                <img
                  src="~/static/images/jobs/box-icon.svg"
                  alt="calender"
                  class="calender"
                />
                <span class="text-dark">Available seats</span>
                <span class="text-primary">: 35</span>
              </div>
            </b-col>
            <b-col xs="12" md="12" lg="12" xl="4">
              <div class="tag">
                <img
                  src="~/static/images/jobs/doller-icon.svg"
                  alt="calender"
                  class="calender"
                />
                <span class="text-dark">Price per seat :</span>
                <span class="text-primary">5 USD</span>
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col xs="12" md="12" lg="12" xl="2">
          <b-row>
            <b-col xs="12" md="12" lg="12" class="links">
              <div class="link">
                <img
                  src="~/static/images/jobs/user-icon.svg"
                  alt="calender"
                  class="calender"
                />
                <span>Join</span>
              </div>
            </b-col>
            <b-col xs="12" md="12" lg="12" class="links">
              <div class="link">
                <img
                  src="~/static/images/jobs/note-icon.svg"
                  alt="calender"
                  class="calender"
                />
                <span>Details</span>
              </div>
            </b-col>
            <b-col xs="12" md="12" lg="12" class="links">
              <div class="link">
                <img
                  src="~/static/images/jobs/connection-icon.svg"
                  alt="calender"
                  class="calender"
                />
                <span>Join</span>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';

.mentor-job {
  width: 100%;
  position: relative;
  .mentor-card {
    background: $bg-color-light;
    border-radius: 25px;
    padding: 1.5rem;
    margin: 1rem 0;
    transition: 0.4s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.1);
    }
    .imgbox {
      max-height: 519px;
      max-width: 164px;
      img {
        width: 100%;
        height: 100%;
        object-fit: center;
      }
    }
    .name {
      color: $bg-color-dark;
      font-size: 24px;
      margin: 10px 0;
      font-weight: 500;
    }

    .content {
      width: 100%;
      .title {
        color: $bg-color-dark;
        font-size: 28px;
        margin: 0 0 10px 0;
        font-weight: 500;
      }
      .sub-title {
        color: $card-sub-title;
        font-size: 20px;
        margin: 10px 0;
        opacity: 0.5;
        // white-space: nowrap;
        // height: auto;
        overflow: hidden;
        // text-overflow: ellipsis;
      }
    }

    .tag {
      text-align: center;
      margin: 10px;
      background: $white;
      border: 1px solid $out-line;
      padding: 20px 0;
      border-radius: 35px;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(1) {
        margin-left: 0px;
      }
      &:hover {
        background: $bg-color-light;
        border-color: $text-color-light;
      }
      .text-dark,
      .text-primary {
        font-weight: 500;
        margin: 0 3px;
      }
    }
  }

  .links {
    .link {
      background: $bg-color-dark;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      border-radius: 25px;
      margin: 10px 0;
      cursor: pointer;
      span {
        color: $white;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}
</style>
