<template>
  <div class="mento-pagination overflow-auto">
    <b-pagination
      v-model="currentPage"
      pills
      :total-rows="rows"
      size="lg"
    ></b-pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rows: 100,
      currentPage: 1,
    }
  },
}
</script>

<style lang="scss" scoped>
.mento-pagination {
  width: 50%;
  margin: 5rem auto;
}
</style>
