<template>
  <div class="mentor-recommand-wrapper">
    <div class="header">
      <p class="heading">Recommanded</p>
      <img
        src="~/static/images/recommand/refresh-icon.svg"
        alt=""
        class="refresh-icon"
      />
    </div>
    <card />
    <card />
    <card />
    <card />
    <card />
  </div>
</template>

<script>
import card from './card'
export default {
  components: {
    card,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';

.mentor-recommand-wrapper {
  width: 100%;
  background: $bg-color-light;
  padding: 1rem;
  border-radius: 25px;
  margin: 1rem 0;
  .refresh-icon {
    background: $white;
    padding: 10px;
    border: 1px solid $out-line;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    z-index: 1;
    &:hover {
      border: 1px solid $text-color-light;
    }
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      font-size: 22px;
      color: $bg-color-dark;
      font-weight: 600;
    }
  }
}
</style>
