<template>
  <div class="mentor-info-group">
    <ul>
      <li>
        <img src="~/static/images/profile/downlaod.svg" alt="" /><span
          class="text-dark"
          >Join a Mentorcast</span
        >
      </li>
      <li>
        <img src="~/static/images/profile/window.svg" alt="" /><span
          class="text-dark"
          >Launch Mentorcast</span
        >
      </li>
      <li>
        <img src="~/static/images/profile/handshake.svg" alt="" /><span
          class="text-dark"
          >My Mentorcasts</span
        >
      </li>
      <li>
        <img src="~/static/images/profile/grid.svg" alt="" /><span
          class="text-dark"
          >Open Admin Panel</span
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.mentor-info-group {
  position: relative;
  width: 100%;
  background: $bg-color-light;
  border-radius: 25px;
  padding: 1rem;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      background: $white;
      padding: 1rem 3rem;
      margin: 1.5rem auto;
      border-radius: 25px;
      span {
        display: inline-block;
        margin-left: 1rem;
        font-weight: 600;
      }
    }
  }
}
</style>
