<template>
  <div class="mentor-sidenav">
    <div class="profile">
      <div class="imgbox">
        <img src="~/static/images/profile/user.png" alt="" />
      </div>
      <div class="content">
        <div class="bg">
          <p class="name text-dark">Tom Johns</p>
          <p class="desgination light-dark">
            Let’s build your Nutrition, together!
          </p>
          <ul class="follwors">
            <li>
              <span class="text-primary">390</span>
              <span class="folower light-dark">Followers</span>
            </li>
            <li>
              <span class="text-primary">1450</span>
              <span class="folower light-dark">Followers</span>
            </li>
            <li>
              <span class="text-primary">14</span>
              <span class="folower light-dark">Reviews</span>
            </li>
          </ul>
        </div>

        <ul class="notify">
          <li><img src="~/static/images/profile/user.svg" alt="" /></li>
          <li><img src="~/static/images/profile/msg.svg" alt="" /></li>
          <li class="folower-number">50</li>
        </ul>
        <ul class="gernal-info">
          <li>
            <img src="~/static/images/profile/usertick.svg" alt="" /><span
              >Triathlon Athlete</span
            >
          </li>
          <li>
            <img src="~/static/images/profile/star.svg" alt="" /><span
              >100m Sprint</span
            >
          </li>
          <li>
            <img src="~/static/images/profile/star.svg" alt="" /><span
              >BSc in Physics and Mathematic</span
            >
          </li>
          <li>
            <img src="~/static/images/profile/book.svg" alt="" /><span
              >Oxford University</span
            >
          </li>
          <hr />
          <li>
            <img src="~/static/images/profile/map.svg" alt="" /><span
              >Bedford, United Kingdom</span
            >
          </li>
          <li>
            <img src="~/static/images/profile/users.svg" alt="" /><span
              >Member since: May 2021</span
            >
          </li>
          <li>
            <img src="~/static/images/profile/clock.svg" alt="" /><span
              >Avg. Response time: 2h</span
            >
          </li>
        </ul>

        <div class="social">
          <div class="content">
            <p class="text-dark">
              Hi, I am <span class="text-primary"> Tom Johns</span>
            </p>
            <p class="sub-content light-dark">
              Expert sports woman with a passion for 100m sprint
            </p>
          </div>
          <ul>
            <li>
              <a @click="traget"
                ><img src="~/static/images/profile/twitter.svg" alt=""
              /></a>
            </li>
            <li>
              <a @click="traget"
                ><img src="~/static/images/profile/facebook.svg" alt=""
              /></a>
            </li>
            <li>
              <a @click="traget"
                ><img src="~/static/images/profile/insta.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    click() {},
    traget() {},
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.mentor-sidenav {
  position: relative;
  width: 100%;
  .profile {
    text-align: center;
    position: relative;
    background: $bg-color-light;
    border-radius: 25px;
    padding: 1rem;
    margin-top: 6rem;
    .imgbox {
      width: 158px;
      height: 158px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: -10%;
      transform: translate(-50%, -10%);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      position: relative;
      margin-top: 2.5rem;

      .bg {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background: $white;
        border-radius: 25px;
        padding: 1rem;
      }
      .name {
        font-weight: 700;
        font-size: 24px;
      }

      .desgination {
        font-size: 14px;
        font-weight: 500;
      }
      ul {
        margin: 10px 0;
      }

      .follwors {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 1rem;
        li {
          span {
            font-weight: 500;
            display: block;
          }
          .folower {
            font-size: 12px;
          }
        }
      }
      .notify {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 1rem;
        li {
          background: $white;
          padding: 10px;
          border-radius: 25px;
        }
        .folower-number {
          background: $text-color-light;
          color: $white;
        }
      }

      .gernal-info {
        width: 100%;
        text-align: center;
        background: $white;
        border-radius: 25px;
        padding: 1rem;
        font-weight: 600;
        text-align: left;
        li {
          width: 80%;
          margin: 1.5rem auto;
          img {
            margin-right: 10px;
          }
        }
      }

      .social {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background: $white;
        border-radius: 25px;
        padding: 1rem;
        font-weight: 600;
        ul {
          margin-top: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          li {
            margin: 0 5px;
          }
        }
      }
    }
  }
}
</style>
