<template>
  <div class="mentor-footer">
    <b-container fluid>
      <b-row class="footer-align">
        <b-col col sm="12" lg="4" md="4">
          <img
            src="~/static/images/navbar/logo.png"
            alt="logo"
            class="footer-logo"
          />
        </b-col>
        <b-col col sm="12" lg="8" md="8">
          <b-row>
            <b-col md="3" sm="12">
              <ul>
                <p class="title text-dark">Explore</p>
                <li v-for="link in explore" :key="link.name">
                  <nuxt-link :to="link.route" class="footer-link">
                    {{ link.name }}</nuxt-link
                  >
                </li>
              </ul>
            </b-col>
            <b-col md="3" sm="12">
              <ul>
                <p class="title text-dark">Become a mentor</p>
                <li v-for="link in partner" :key="link.name">
                  <nuxt-link :to="link.route" class="footer-link">
                    {{ link.name }}</nuxt-link
                  >
                </li>
              </ul>
            </b-col>
            <b-col md="3" sm="12">
              <ul>
                <p class="title text-dark">Explore</p>
                <li v-for="link in explore" :key="link.name">
                  <nuxt-link :to="link.route" class="footer-link">
                    {{ link.name }}</nuxt-link
                  >
                </li>
              </ul>
            </b-col>
            <b-col md="3" sm="12">
              <ul>
                <p class="title text-dark">Explore</p>
                <li v-for="link in explore" :key="link.name">
                  <nuxt-link :to="link.route" class="footer-link">
                    {{ link.name }}</nuxt-link
                  >
                </li>
              </ul>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { explore, partner } from '~/helpers/links'

export default {
  data() {
    return {
      partner,
      explore,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.mentor-footer {
  padding: 0;
  margin: 0;
  width: 100%;
  background: $bg-color-light;
  padding: 1rem 3rem;
  .footer-logo {
    margin: 0 auto;
  }
  .footer-link {
    font-size: 22px;
    margin: 0.5rem;
  }
  .footer-align {
    align-items: center;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    margin: 0.5rem;
  }
}

@media screen and (max-width: $tablet) {
  .mentor-footer {
    .footer-link {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
</style>
