<template>
  <div>
    <b-navbar toggleable="lg" class="mentor-nav" fixed="top">
      <nuxt-link to="/">
        <b-navbar-brand>
          <img
            src="~/static/images/navbar/navLogo.png"
            alt="navLogo"
            class="navLogo"
          />
        </b-navbar-brand>
      </nuxt-link>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="over-wrtite-flex">
          <div class="search-wrapper">
            <input
              id="search"
              v-model="search"
              type="text"
              name="search"
              placeholder="Looking for"
            />
            <img
              src="~/static/images/navbar/search-icon.svg"
              alt="search"
              class="search__icon"
              @click="searchFun"
            />
          </div>
          <div class="media">
            <li
              v-for="link in navlinks"
              :key="link.name"
              class="mentor-nav-link"
              right
            >
              <nuxt-link :to="link.route">
                <img
                  :src="require(`~/static/images/navbar/${link.img}`)"
                  :alt="link.img"
                />
                <span class="link-name">
                  {{ link.name }}
                </span></nuxt-link
              >
            </li>
          </div>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { navlinks } from '~/helpers/links'
export default {
  data() {
    return {
      navlinks,
      search: null,
    }
  },

  methods: {
    searchFun() {},
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.mentor-nav {
  background: $bg-color-light;
  padding: 0.5rem 4rem;
  .navLogo {
    width: 150px;
  }

  .mentor-nav-link {
    display: inline-block;
    border: 1px solid $bg-color-dark;
    padding: 0.4rem 0.8rem;
    margin: 1rem 0.5rem;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    a {
      font-size: 16px;
      color: $bg-color-dark;
      text-decoration: none;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 12px;
      }
      .link-name {
        margin-left: 8px;
      }
    }

    &:hover {
      border: 1px solid $text-color-light;
      a {
        color: $text-color-light;
      }
    }
  }
}

.search-wrapper {
  position: relative;
  background: $white;
  width: 300px;
  border-radius: 25px;
  overflow: hidden;
  height: 50px;
  margin-left: 17rem;
  transition: 0.4s ease-in-out;
  input[type='text'] {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: $white;
    padding: 0 1rem;
  }

  .search__icon {
    background: $white;
    position: absolute;
    right: 18px;
    top: 7px;
    padding: 8px;
    border: 1px solid $out-line;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    z-index: 10;
    &:hover {
      border: 1px solid $text-color-light;
    }
  }

  &:hover {
    width: 380px;
  }
}
.over-wrtite-flex {
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
@media screen and(max-width:1203px) {
  .search-wrapper {
    margin-left: 5rem;
  }
}
@media screen and(max-width:1064px) {
  .search-wrapper {
    margin-left: 0rem;
  }
}
@media screen and(max-width:991px) {
  .search-wrapper {
    display: block !important;
  }
  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and(max-width:$tablet-large-width) {
  .search-wrapper {
    display: none !important;
  }
}
</style>
