*,
::before,
::after {
  box-sizing: border-box;
}

body,
ul,
ol,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 85%;
}
a,
a:hover,
.nuxt-link-exact-active {
  text-decoration: none;
}

.page-link {
  color: #092542;
}
.page-item.active .page-link {
  background-color: #092542;
  border-color: #092542;
}
.pagination-lg .page-link {
  padding: 1rem 1.25rem;

}
.b-pagination-pills .page-item .page-link {
  border-radius: 1rem !important;

}