@import './abstract/reset.scss';
@import './abstract/fonts.scss';
@import './abstract/colors.scss';
@import './abstract/size.scss';

.text-dark {
  color: $bg-color-dark;
}
.text-primary {
  color: $text-color-light;
}
.light-dark {
  color: $bg-color-dark;
  opacity: 0.5;
}
