<template>
  <div class="mentor__wrapper">
    <Navbar />
    <div class="mentor-inner-wrapper">
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from './components/nav'
import Footer from './components/footer'
export default {
  components: {
    Navbar,
    Footer,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.mentor__wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  .mentor-inner-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background: $white;
  }
}
</style>
