<template>
  <div class="inner-wrapper">
    <b-container fluid>
      <b-row>
        <b-col sm="12" md="12" lg="3" xl="3"><Filters /> <Recommand /></b-col>
        <b-col sm="12" md="12" lg="9" xl="9"><Jobs /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Filters from '~/components/jobs/filters'
import Recommand from '~/components/jobs/recommand'
import Jobs from '~/components/jobs/index'
export default {
  components: {
    Filters,
    Jobs,
    Recommand,
  },
  layout: 'default',
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}
</style>
