<template>
  <div class="inner-wrapper">
    <b-container fluid>
      <b-row>
        <b-col sm="12" md="12" lg="3" xl="3"> <Sidenav /> </b-col>
        <b-col sm="12" md="12" lg="6" xl="6"> <Profile /> </b-col>
        <b-col sm="12" md="12" lg="3" xl="3"> <InfoGroup /> </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Sidenav from '~/components/profile/sidenav'
import Profile from '~/components/profile/index'
import InfoGroup from '~/components/profile/infoGroup'
export default {
  components: {
    Sidenav,
    Profile,
    InfoGroup,
  },
  layout: 'default',
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/abstract/colors.scss';
@import '~/assets/styles/abstract/size.scss';
.inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}
</style>
